.calender {
  margin: 30px auto;
}
table {
  border: 1px solid black;
  width: 80%;
  border-collapse: collapse;
  margin: 15px auto;
}
th,
td {
  border: 1px solid black;
  width: 60px;
}
td {
  height: 80px;
  vertical-align: top;
}
td:hover {
  background-color: lightcyan;
}
.year {
  font-size: 20px;
}
.month {
  font-size: 50px;
  font-weight: bold;
}
span {
  justify-content: center;
  align-items: center;
  display: flex;
}
