.calender {
  margin: 30px auto;
}
table {
  border: 1px solid black;
  width: 80%;
  border-collapse: collapse;
  margin: 15px auto;
}
th,
td {
  border: 1px solid black;
  width: 60px;
}
td {
  height: 80px;
  vertical-align: top;
}
td:hover {
  background-color: lightcyan;
}
.year {
  font-size: 20px;
}
.month {
  font-size: 50px;
  font-weight: bold;
}
span {
  justify-content: center;
  align-items: center;
  display: flex;
}

#plus_btn {
  font: inherit;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  background: #f67722;
  border: 1px solid #f67722;
  color: white;
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

.day {
  display: none;

  width: 75%;
  min-height: 250px;
  height: auto;

  padding: 20px 32px;
  margin: 0 auto;

  background-color: #f3fffa;
  color: #333;
  clear: both;
}

/* 블럭 보이게 하기 */
.active {
  display: block !important;
}
