table {
    border: 1px solid black;
    width: 800px;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    width: 60px;
}
td {
    height: 80px;
    vertical-align: top;
}
td:hover {
    background-color: lightcyan;
}
.year {
    font-size: 30px;
}
.month {
    font-size: 50px;
    font-weight: bold;
}
div{
    width: 800px;
}
span{
    position: relative;
    left: 334px;
}